<style>
.container{
	margin-top: 15%;
}

h3{
	color: white;
}

p{
	color: white;
}
</style>

<div class="page-info">
	Quit
</div>

<div class=container>
	<div align="center">
		<h3><strong>本当に退会しますか？</strong></h3><br />
		<br />
		<p>退会すると、会員登録情報や<br />
			これまでのブログが閲覧できなくなります。<br />
			退会する場合は、「退会する」をクリックしてください。</p>
		<br />
		<table>
				<tr>
					<td>
					    <%= link_to "退会しない", edit_public_user_path, class: "btn btn-outline-primary" %>
				    	<% if user_signed_in? && @user.id == current_user.id %>
	                    <%= link_to "退会する", public_users_hide_path(current_user), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>
				    	<% end %>
				    </td>
		        </tr>
		</table>
	</div>
</div>
