<li class="nav-item active">
  <a class="nav-item nav-link active" href="/admin/homes/top">Home <span class="sr-only">(current)</span></a>
</li>

<li class="nav-item">
  <a class="nav-item nav-link" href="/admin/genres">genres</a>
</li>

<li class="nav-item">
  <a class="nav-item nav-link" href="/admin/admins">users</a>
</li>

<li class="nav-item">
  <a class="nav-item nav-link" href="/admin/blogs">blogs</a>
</li>

<li class="nav-item">
  <a class="nav-item nav-link" href="/admins/sign_out" data-method="delete">log out</a>
</li>

<li class="nav-left" style="padding-left: 200px;">
  <%= form_tag("/admin/admins",method:"get",class: "form-inline my-2 my-lg-0") do %>
    <input class="form-control mr-sm-2" type="text" name="search" placeholder="search for username">
    <input type="submit" value="search" class="btn btn-outline-light">
  <% end %>
</li>