<li class="nav-item active">
  <a class="nav-link" href="/public/home/top.html"><strong>home</strong> <span class="sr-only">(current)</span></a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/public/home/about"><strong>about</strong></a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/public/blogs"><strong>blogs</strong></a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/public/users"><strong>users</strong></a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/users/sign_in"><strong>log in</strong></a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/users/sign_up"><strong>sing up</strong></a>
</li>